h1 {
    border-style:solid;
    text-align: center;
    color: black ;
    background-color: darkturquoise;
}

h4 {
    display: inline-grid;
    border-style: solid;
    border-width: 4px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: orangered;
    border-color: black;
}

.the-game {
    display: flex;
    flex-direction: column;
}

.choiceList {
    height: 150px;
}

.total-score {
    display: inline-grid;
    width: 100px;
    margin:20px 16px 10px;
    border: 2px solid black;
}

#dollars250 {
    color: black;
    background-color: lightblue;
}
#dollars400 {
    color: black;
    background-color: greenyellow;
}

.empty-box {
    display: inline-grid;
    width: 100px;
    margin:20px 16px 10px;
    border: 2px solid black;
    gap: 50px 60px;
}

#correctAnswerTeam1250 {
    color: black;
    background-color: greenyellow;
}

#correctAnswerTeam2250 {
    color: black;
    background-color: lightblue;
}

button {
    /* position: relative;
    top: 100px; 
    bottom: 15px; */
    margin-left: 40px;
    padding: 15px;
    border: 2px solid black;
}

#reset {
    background-color: red;
    color: white;
    border-width: 4px;
}