h1 {
    border-style:solid;
    text-align: center;
}

.category {
    display: inline-grid;
    grid-template-columns: 100px auto;
    text-align: center;
    gap: 50px 60px
}

.answer {
    display: inline-grid;
    grid-template-columns: 100px auto;
    text-align: center;
    gap: 50px 60px
}

.divs {
    display: flex;
    flex-direction: column;

}

.teams {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 35px;
    gap: 50px 108px
}


.empty-box {
    display: inline-grid;
    width: 100px;
    margin:20px 16px 10px;
    border: 2px solid black;
    gap: 50px 60px;
}

button {
    position: relative;
    top: 300px; 
    bottom: 15px;
    margin-left: 226px;
    padding: 15px;
}